
/* Tablet Device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .navbar-section {
        margin: 0 30px;
    }

    .navbar-text {
        justify-content: space-between;
    }

    .section-container {
        flex-direction: column;
        margin-left: 100px;
        margin-right: 100px;
    }

    .text-container {
        width: 100%;
    }

    .text-container p {
        font-size: 20px;
    }

    .image-container {
        width: 100%;
    }

    .image-text1 {
        width: 30%;
    }

    .image-text1 h1, p{
        font-size: 20px;
    }
    
    .image-text2 {
        width: 30%;
    }

    .image-text2 h1, p{
        font-size: 20px;
    }

    .image-text2 span {
        height: 15px;
        width: 15px;
    }

    .run-container {
        flex-direction: column;
    }

    .run-text-container {
        width: 100%;
    }

    .run-image-container {
        width: 100%;
    }

    .training-section {
        margin: 0 10px;
    }

    
}



/* Mobile Device */
@media screen and (max-width: 576px) {
    

    .navbar-text a {
        display: none;
    }

    .special {
        margin-left: 20px;
    }

    .menu {
        display: block;
        margin-left: 110px;
    }

    .section-container {
        flex-direction: column;
        margin: 0 20px;
    }

    .text-container {
        width: 100%;
    }

    .text-container h1 {
        font-size: 40px;
    }


    .text-container p {
        font-size: 20px;
    }

    .image-container {
        width: 100%;
    }

    .image-text1 {
        width: 30%;
    }

    .image-text1 h1, p{
        font-size: 9px;
    }
    
    .image-text2 {
        width: 30%;
        font-size: 12px;
    }

    .image-text2 h1, p{
        font-size: 8px;
    }

    .image-text2 span {
        height: 15px;
        width: 15px;
    }

    .run-container {
        flex-direction: column;
    }

    .run-text-container {
        width: 70%;
    }

    .run-image-container {
        width: 80%;
    }

    .training-section {
        margin: 0 10px;
    }

    .exercise-image {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .box1 {
        grid-column: 1/span 3;
    }
    .box2 {
        grid-column: 4/span 3;
    }
    .box3 {
        grid-column: 1/span 3;
    }
    .box4 {
        grid-column: 4/span 3;
    }
    .box5 {
        grid-column: 1/span 3;
    }
    .box6 {
        grid-column: 4/span 3;
    }

}


