/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgba(17, 17, 17, 1);
    color: white;
}

/* Navbar Styles */

.header-section {
    min-height: 100px;
    margin-top: 30px;
}

.navbar-section {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-logo {
    width: 50%;
}

.special {
    font-size: 30px;
    color: #E6533C;
    font-weight: 900;
    font-style: italic;
}

.navbar-text {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.active-text {
    background-color: #E6533C;
    border-radius: 20px;
    padding: 5px 15px;
}

.navbar-text a {
    text-decoration: none;
    color: white;
}

.menu {
    display: none;
}

/* banner styles here  */

.section-container {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.text-container {
    width: 55%;
    margin-top: 30px;
}

.text-container h1 {
    font-size: 60px;
    line-height: 90px;
    margin-bottom: 20px;
}

.shape {
    font-family: "Dancing Script", cursive;
    font-size: 90px;
}

.text-container p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.btn1 {
    background-color: #E6533C;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    border: none;
}

.btn2 {
    background-color:rgba(17, 17, 17, 1);
    border: 1px solid white; 
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.image-container {
    width: 45%;
    position: relative;
}

.image-container img {
    width: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.image-text1 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 10px;
    width: 36%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 60%;
    left: 55%;
}

.image-text2 {
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 10px;
    width: 36%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 15%;
    right: 50%;
}

.image-text2 span {
    height: 30px;
    width: 30px;
    background-color: #E6533C;
    border-radius: 50%;
}


/* Habit styles here  */

.habit-section {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.habit-section h1 {
    font-size: 45px;
    margin-bottom: 15px;
    text-align: center;
}

.habit-section p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 40px;
    text-align: center;
    font-size: 16px;
}

.habit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    flex-wrap: wrap;
}

.habit-image-container {
    flex-basis: 300px;
}

.habit-image img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.habit-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.habit-image p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}


/* Run Section styles here  */

.run-section {
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: #222222;
    border-radius: 20px;
}

.run-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.run-text-container {
    width: 60%;
}

.run-text-container h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.run-text-container p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.run-image-container {
    width: 40%;
}

.run-image-container img {
    width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    padding: 20px;
    border-radius: 30px;
}


/* Training Section Styles Here */

.training-section {
    max-width: 1250px;
    margin: 0 auto;  
    min-height: 200px;
}

.exercise-image {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 40px 0;
}


.box1 {
    height: 200px;
    background-size: cover;
    position: relative;
    grid-column: 1/span 3;
    /* border: 2px solid white; */
}

.box2 {
    height: 200px;
    background-size: cover;
    position: relative;
    grid-column: 4/span 6;
    /* border: 2px solid white; */
}

.box3 {
    height: 200px;
    background-size: cover;
    position: relative;
    grid-column: 10/span 3;
    /* border: 2px solid white; */
}

.box4 {
    height: 200px;
    background-size: cover;
    position: relative;
    grid-column: 1/span 5;
    /* border: 2px solid white; */
}

.box5 {
    height: 200px;
    background-size: cover;
    position: relative;
    grid-column: 6/span 3;
    /* border: 2px solid white; */
}

.box6 {
    height: 200px;
    background-size: cover;
    position: relative;
    grid-column: 9/span 4;
    /* border: 2px solid white; */
}


